# Descriptive Summary Statistics

In [1]:
import pandas as pd
import numpy as np
import scipy
import matplotlib.pyplot as plt
import statsmodels as sm
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_row', 500)

In [2]:
df = pd.read_csv("../processed_data/df_for_descriptive_stats.csv")

In [3]:
df.area.value_counts()

area
URBAN    10680
Name: count, dtype: int64

In [4]:
df.sample(5).reset_index(drop=True)

,hh1,hh2,area,zone,hh_members_num,num_of_women_15_49,num_of_men_15_49,num_under_5_child,num_5_17_child,hhsex,hhage,helevel,hh_own_dwelling,hh_agricultural_land,hh_own_animal,hh_mn_attended_sch_num,hh_mn_mean_age_yrs,hh_mn_attended_atleast_sec_sch,hh_mn_mean_life_satisfaction,hh_wm_attended_sch_num,hh_wm_mean_age_yrs,hh_wm_attended_atleast_sec_sch,hh_wm_mean_life_satisfaction,water_source,wi_quintile_mics,wscoremics,urban_wi_quintile_mics,hh_ls_num,fies_score,hhweightmics,psu,stratum,prob_mod_sev,prob_sev,rs_fies_score,WORRIED,HEALTHY,FEWFOOD,SKIPPED,ATELESS,RANOUT,HUNGRY,WHLDAY,hh_ag_land_size_cat,agg_wealth_index,cluster_wi_category,hh_ls_num_clean_iqr,hh_ls_num_clean,hh_members_num_clean_iqr,hh_members_num_clean,num_adult,num_children,hh_siz_cat,hh_age_cat,hh_num_child_cat,hh_num_adult_cat,PFI_moderate_severe,PFI_severe,PFI_mid_moderate,FS,MFI,FSI,FI_Food_Insecure,SFI
0,1387.0,19.0,URBAN,South West,7.0,1.0,1.0,0.0,3.0,Male,56.0,Higher/tertiary,RENT,YES,YES,1.0,27.0,1.0,8.0,1.0,30.0,1.0,9.0,TUBE WELL / BOREHOLE,Richest,1.198208,Middle,20,1,1.176861,1387.0,28.0,0.022,0.000,1,1,0,0,0,0,0,0,0,1-9 hectares,1.005211,High,0.0,0.074929,7.0,1.43299,2.0,3.0,>5,>45,>1,>1,0,0,1,1,0,0,1,0
1,1477.0,16.0,URBAN,South West,13.0,0.0,5.0,1.0,5.0,Male,65.0,No Education,OTHER,YES,NO,5.0,21.6,4.0,6.6,0.0,0.0,0.0,0.0,TUBE WELL / BOREHOLE,Fourth,0.462846,Second,0,8,1.015233,1477.0,30.0,1.000,0.821,8,1,1,1,1,1,1,1,1,1-9 hectares,0.135071,Middle,0.0,0.000000,5.0,1.43299,5.0,6.0,>5,>45,>1,>1,0,1,0,0,0,1,1,1
2,1520.0,12.0,URBAN,North Central,5.0,1.0,1.0,0.0,3.0,Male,58.0,No Education,OWN,YES,YES,1.0,16.0,0.0,7.0,1.0,40.0,0.0,10.0,SPRING: PROTECTED SPRING,Middle,-0.189813,Poorest,44,7,0.419416,1520.0,31.0,0.995,0.390,7,1,1,1,1,1,1,1,0,1-9 hectares,1.255455,High,0.0,0.074929,5.0,1.43299,2.0,3.0,<5,>45,>1,>1,1,0,0,0,0,1,1,1
3,788.0,13.0,URBAN,South East,3.0,1.0,0.0,0.0,1.0,Male,76.0,Higher/tertiary,OWN,YES,NO,0.0,0.0,0.0,0.0,1.0,15.0,0.0,9.0,PACKAGED WATER: SACHET WATER,Fourth,1.056205,Middle,0,6,3.635560,788.0,16.0,0.971,0.043,6,1,1,1,1,1,1,0,0,1-9 hectares,-0.158083,Middle,0.0,0.000000,3.0,1.43299,1.0,1.0,<5,>45,<2,<2,1,0,0,0,1,0,1,0
4,209.0,17.0,URBAN,North East,9.0,2.0,0.0,0.0,5.0,Female,48.0,Primary,RENT,NO,NO,0.0,0.0,0.0,0.0,2.0,32.0,1.0,6.0,PIPED WATER: PIPED INTO DWELLING,Fourth,0.604361,Second,0,7,0.603343,209.0,5.0,0.995,0.390,7,1,1,1,1,1,1,0,1,0 hectare,0.442875,High,0.0,0.000000,9.0,1.43299,2.0,5.0,>5,>45,>1,>1,1,0,0,0,0,1,1,1

In [5]:
df.SFI.value_counts(normalize=True)

SFI
0    0.585861
1    0.414139
Name: proportion, dtype: float64

In [6]:
df.shape

(10680, 64)

### Table 1: Summary of Food Insecurity Measures and Indicators. (weighted using the household sampling weight).

In [7]:
fies_questions = list(df.loc[:, "WORRIED": "WHLDAY"].columns)
fies_indicators = list(df[["prob_mod_sev", "prob_sev", 
                             "fies_score","FS", "MFI", "SFI","FI_Food_Insecure",
                            "PFI_moderate_severe", "PFI_severe", "PFI_mid_moderate"]].columns)

fies_cols = fies_questions + fies_indicators + ["hhweightmics"]
fies_df = df[fies_cols]

In [8]:
fies_df

,WORRIED,HEALTHY,FEWFOOD,SKIPPED,ATELESS,RANOUT,HUNGRY,WHLDAY,prob_mod_sev,prob_sev,fies_score,FS,MFI,SFI,FI_Food_Insecure,PFI_moderate_severe,PFI_severe,PFI_mid_moderate,hhweightmics
0,1,1,1,1,1,1,1,0,0.995,0.390,7,0,0,1,1,1,0,0,0.619550
1,1,1,1,1,1,1,0,0,0.971,0.043,6,0,1,0,1,1,0,0,0.619550
2,1,0,0,1,1,1,1,0,0.875,0.002,5,0,1,0,1,1,0,0,0.619550
3,0,1,1,1,1,1,1,1,0.995,0.390,7,0,0,1,1,1,0,0,0.619550
4,1,1,1,1,1,1,1,0,0.995,0.390,7,0,0,1,1,1,0,0,0.619550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10675,1,1,1,0,1,0,0,0,0.616,0.000,4,0,1,0,1,1,0,0,0.406595
10676,1,1,1,1,1,1,0,0,0.971,0.043,6,0,1,0,1,1,0,0,0.406595
10677,1,1,1,1,1,1,0,0,0.971,0.043,6,0,1,0,1,1,0,0,0.406595
10678,1,1,1,1,1,1,0,0,0.971,0.043,6,0,1,0,1,1,0,0,0.406595
10679,1,1,1,1,1,1,0,0,0.971,0.043,6,0,1,0,1,1,0,0,0.406595

In [9]:
# comppute the number of observations
n_obs = fies_df.iloc[:, :-1].count()

# calculate unweighted mean
# Calculate the mean
mean = fies_df.iloc[:, :-1].mean()

# Calculate the standard deviation
std = fies_df.iloc[:, :-1].std()

# Calculate the standard error
standard_error = std / np.sqrt(n_obs)

# Calculate the weighted mean
weighted_mean = (fies_df.iloc[:, :-1].multiply(fies_df["hhweightmics"], axis=0)).sum() / fies_df["hhweightmics"].sum()

# Function to calculate the weighted standard deviation
def weighted_std(values, weights):
    average = np.average(values, weights=weights)
    variance = np.average((values - average) ** 2, weights=weights)
    return np.sqrt(variance)

# Calculate the weighted standard deviation
weighted_std_dev = fies_df.iloc[:, :-1].apply(lambda x: weighted_std(x, fies_df["hhweightmics"]))

# Calculate the weighted standard error
weighted_se = weighted_std_dev / np.sqrt(n_obs)

# Create a summary DataFrame
summary_df = pd.DataFrame({
    'Number of Observations': n_obs,
    'Mean': mean,
    'Standard Deviation': std,
    'Standard Error': standard_error,
    'Weighted Mean': weighted_mean,
    'Weighted Standard Deviation': weighted_std_dev,
    'Weighted Standard Error': weighted_se
})

# Summary of Food Insecurity Measures and Indicators. 
print("Table 1")
summary_df.round(3)

Table 1

,Number of Observations,Mean,Standard Deviation,Standard Error,Weighted Mean,Weighted Standard Deviation,Weighted Standard Error
WORRIED,10680,0.755,0.430,0.004,0.760,0.427,0.004
HEALTHY,10680,0.716,0.451,0.004,0.717,0.450,0.004
FEWFOOD,10680,0.722,0.448,0.004,0.717,0.450,0.004
SKIPPED,10680,0.639,0.480,0.005,0.648,0.478,0.005
ATELESS,10680,0.687,0.464,0.004,0.689,0.463,0.004
RANOUT,10680,0.571,0.495,0.005,0.571,0.495,0.005
HUNGRY,10680,0.497,0.500,0.005,0.485,0.500,0.005
WHLDAY,10680,0.287,0.453,0.004,0.264,0.441,0.004
prob_mod_sev,10680,0.681,0.419,0.004,0.682,0.419,0.004
prob_sev,10680,0.265,0.334,0.003,0.257,0.328,0.003
fies_score,10680,4.875,2.944,0.028,4.851,2.934,0.028
FS,10680,0.293,0.455,0.004,0.291,0.454,0.004
MFI,10680,0.292,0.455,0.004,0.302,0.459,0.004
SFI,10680,0.414,0.493,0.005,0.408,0.491,0.005
FI_Food_Insecure,10680,0.810,0.393,0.004,0.807,0.395,0.004
PFI_moderate_severe,10680,0.479,0.500,0.005,0.496,0.500,0.005
PFI_severe,10680,0.228,0.420,0.004,0.213,0.410,0.004
PFI_mid_moderate,10680,0.293,0.455,0.004,0.291,0.454,0.004

**Table 1 Presents the following:**

* the weighted pooled summary statistics and shows that 70.9 percent of urban households experienced moderate
or severe food insecurity. (MSI is measure based on `fies_score` >= 4)
* About 19 percent of households report not experiencing at least one of the eight dimensions of food insecurity that constitute the FIES
* About 80.7 percent of households report experiencing at least one of the eight dimensions of food insecurity that constitute the FIES

### 2a. Estimated total number of household (all and by zone) that are 
* (i) moderately or severely food insecure and `MSI`
* (ii) severely food insecure `SFI`

#### Unweighted Estimate

In [10]:
def estimate_food_insecurity(df, agg_func="sum", wt="hhweightmics"):

    columns = ["zone","FS", "MFI", "SFI", "FI_Food_Insecure"]

    if wt:
        columns.append(wt)

    df = df[columns]
    df_ = df.copy()
    
    if wt:
        df_.loc[:, 'weighted_FS'] = df_['FS'] * df_[wt]
        df_.loc[:, 'weighted_MFI'] = df_['MFI'] * df_[wt]
        df_.loc[:, 'weighted_SFI'] = df_['SFI'] * df_[wt]
        # Calculate weighted MSI and SFI
        df_.loc[:,'weighted_FI_Food_Insecure'] = df_['FI_Food_Insecure'] * df_[wt]
    else:
        df_.loc[:, 'weighted_FS'] = df_['FS']
        df_.loc[:, 'weighted_MFI'] = df_['MFI']
        df_.loc[:, 'weighted_SFI'] = df_['SFI']
        # Calculate weighted MSI and SFI
        df_.loc[:,'weighted_FI_Food_Insecure'] = df_['FI_Food_Insecure']
        
        
    # Compute the total number of household by zone
    total_by_zone = df_.groupby("zone", observed=True).agg(
        Total_FS = ("weighted_FS", agg_func),
        Total_MFI = ("weighted_MFI", agg_func),
        Total_SFI = ("weighted_SFI", agg_func),
        Total_Food_Insecure = ("weighted_FI_Food_Insecure", agg_func),
        n_obs = ("zone", "count")
        
    )
    
    # Calculate overall totals
    overall_totals = pd.DataFrame({
        'Total_FS': [df_['weighted_FS'].agg(agg_func)],
        'Total_MFI': [df_['weighted_MFI'].agg(agg_func)],
        'Total_SFI': [df_['weighted_SFI'].agg(agg_func)],
        "Total_Food_Insecure": [df_['weighted_FI_Food_Insecure'].agg(agg_func)],
        "n_obs" : [df_.shape[0]]
    })
    
    combined_FI = pd.concat([overall_totals.T, total_by_zone.T], axis=1)
    
    # Rename column
    return combined_FI.rename(columns={0:"Country"}).reset_index()

estimate_food_insecurity(df, wt=None)

,index,Country,North Central,North East,North West,South East,South South,South West
0,Total_FS,3134,543,513,451,165,328,1134
1,Total_MFI,3123,648,366,420,259,370,1060
2,Total_SFI,4423,895,688,598,368,520,1354
3,Total_Food_Insecure,8646,1711,1252,1212,708,1014,2749
4,n_obs,10680,2086,1567,1469,792,1218,3548

9380

#### Weighted

In [12]:
# Compute the weighted estimate
estimate_food_insecurity(df, wt="hhweightmics").round(2)

,index,Country,North Central,North East,North West,South East,South South,South West
0,Total_FS,4514.45,373.01,253.64,571.81,570.71,601.07,2144.20
1,Total_MFI,4690.49,531.61,171.73,553.06,824.56,730.21,1879.32
2,Total_SFI,6331.29,745.22,342.82,811.28,1219.30,756.04,2456.62
3,Total_Food_Insecure,12537.31,1405.31,614.32,1622.09,2280.28,1718.79,4896.51
4,n_obs,10680.00,2086.00,1567.00,1469.00,792.00,1218.00,3548.00

### 2b.Estimate average incidence of 
* (i) moderate food insecurity `MFI`
* (ii) severe food insecurity among the urban household population `SFI`

In [18]:
estimate_food_insecurity(df, agg_func="mean", wt="hhweightmics").round(3)

,index,Country,North Central,North East,North West,South East,South South,South West
0,Total_FS,0.423,0.179,0.162,0.389,0.721,0.493,0.604
1,Total_MFI,0.439,0.255,0.110,0.376,1.041,0.600,0.530
2,Total_SFI,0.593,0.357,0.219,0.552,1.540,0.621,0.692
3,Total_Food_Insecure,1.174,0.674,0.392,1.104,2.879,1.411,1.380
4,n_obs,10680.000,2086.000,1567.000,1469.000,792.000,1218.000,3548.000

In [20]:
# Weighted estimate of mean
# estimate_food_insecurity(df, agg_func="mean", wt="hhweightmics").round(3)
# Calculate weighted sums by zone
zone_totals = df.groupby('zone', observed=True).apply(lambda x: pd.Series({
    'Weighted_FS': (x['FS'] * x['hhweightmics']).sum(),
    'Weighted_MFI': (x['MFI'] * x['hhweightmics']).sum(),
    'Weighted_SFI': (x['SFI'] * x['hhweightmics']).sum(),
    'Weighted_Food_Insecure': (x['FI_Food_Insecure'] * x['hhweightmics']).sum(),
    'Total_Weight': x['hhweightmics'].sum()
}), include_groups=False).reset_index()

# Calculate mean number of households by zone
zone_totals['Mean_FS'] = zone_totals['Weighted_FS'] / zone_totals['Total_Weight']
zone_totals['Mean_MFI'] = zone_totals['Weighted_MFI'] / zone_totals['Total_Weight']
zone_totals['Mean_SFI'] = zone_totals['Weighted_SFI'] / zone_totals['Total_Weight']
zone_totals['Mean_Food_Insecure'] = zone_totals['Weighted_Food_Insecure'] / zone_totals['Total_Weight']


# Calculate overall totals
overall_totals = pd.Series({
    'zone': 'Overall',
    'Weighted_FS': (df['FS'] * df['hhweightmics']).sum(),
    'Weighted_MFI': (df['MFI'] * df['hhweightmics']).sum(),
    'Weighted_SFI': (df['SFI'] * df['hhweightmics']).sum(),
    'Weighted_Food_Insecure': (df['FI_Food_Insecure'] * df['hhweightmics']).sum(),
    'Total_Weight': df['hhweightmics'].sum()
})

# Calculate overall mean number of households
overall_totals['Mean_FS'] = overall_totals['Weighted_FS'] / overall_totals['Total_Weight']
overall_totals['Mean_MFI'] = overall_totals['Weighted_MFI'] / overall_totals['Total_Weight']
overall_totals['Mean_SFI'] = overall_totals['Weighted_SFI'] / overall_totals['Total_Weight']
overall_totals['Mean_Food_Insecure'] = overall_totals['Weighted_Food_Insecure'] / overall_totals['Total_Weight']


# Combine both results into one DataFrame
combined_df = pd.concat([pd.DataFrame([overall_totals]), zone_totals]).round(3)

# Display combined DataFrame
combined_df[['zone', 'Mean_FS', 'Mean_MFI', 'Mean_SFI', 'Mean_Food_Insecure']].T

,0,0,1,2,3,4,5
zone,Overall,North Central,North East,North West,South East,South South,South West
Mean_FS,0.291,0.226,0.33,0.295,0.218,0.288,0.331
Mean_MFI,0.302,0.322,0.224,0.286,0.315,0.35,0.29
Mean_SFI,0.408,0.452,0.446,0.419,0.466,0.362,0.379
Mean_Food_Insecure,0.807,0.852,0.8,0.838,0.872,0.823,0.756

In [21]:
0.291+0.302+0.408

1.001

**Unweighted Observation**


*  Severe food insecurity(`Mean_SFI`) alone affects an estimated 41% of the urban household population.
*  Severe food insecurity(`MEan_Food_insecure`) alone affects an estimated 8600, or 81% of the urban household population.

In [14]:
# # Standard Error
# # estimate_food_insecurity(df, agg_func="sem", wt="hhweightmics").round(3)

# zone_totals = df.groupby('zone', observed=True).apply(lambda x: pd.Series({
#     'Weighted_MSI': (x['MSI'] * x['hhweightmics']).sem(),
#     'Weighted_SFI': (x['SFI'] * x['hhweightmics']).sem(),
#     'Weighted_Food_Insecure': (x['FI_Food_Insecure'] * x['hhweightmics']).sem(),
#     'Total_Weight': x['hhweightmics'].sem()
# }), include_groups=False).reset_index()

# # Calculate mean number of households by zone
# zone_totals['Mean_MSI'] = zone_totals['Weighted_MSI'] / zone_totals['Total_Weight']
# zone_totals['Mean_SFI'] = zone_totals['Weighted_SFI'] / zone_totals['Total_Weight']
# zone_totals['Mean_Food_Insecure'] = zone_totals['Weighted_Food_Insecure'] / zone_totals['Total_Weight']


# # Calculate overall totals
# overall_totals = pd.Series({
#     'zone': 'Overall',
#     'Weighted_MSI': (df['MSI'] * df['hhweightmics']).sem(),
#     'Weighted_SFI': (df['SFI'] * df['hhweightmics']).sem(),
#     'Weighted_Food_Insecure': (df['FI_Food_Insecure'] * df['hhweightmics']).sem(),
#     'Total_Weight': df['hhweightmics'].sem()
# })

# # Calculate overall mean number of households
# overall_totals['Mean_MSI'] = overall_totals['Weighted_MSI'] / overall_totals['Total_Weight']
# overall_totals['Mean_SFI'] = overall_totals['Weighted_SFI'] / overall_totals['Total_Weight']
# overall_totals['Mean_Food_Insecure'] = overall_totals['Weighted_Food_Insecure'] / overall_totals['Total_Weight']


# # Combine both results into one DataFrame
# combined_df = pd.concat([pd.DataFrame([overall_totals]), zone_totals]).round(3)

# # Display combined DataFrame
# combined_df[['zone', 'Mean_MSI', 'Mean_SFI', 'Mean_Food_Insecure']].T

### Definition of Variables

we selected a certain number of socio-demographic and economic variables from the MICS 6 database, such as, geographical zone, age of household head, education level, socio-economic level expressed as a quintile of the wealth index, etc...

In [15]:
df = df.drop(columns=["hh_num_child_cat", "hh_num_adult_cat"], axis=1)

In [16]:
# Change object type to cateogory types

df[df.select_dtypes(['object']).columns] = df.select_dtypes(['object']).apply(lambda x: x.astype('category'))

In [17]:
# children under five years old (None, 1, 2+)
# df["num_child_under5_cat"] = pd.cut(df["num_under_5_child"], bins=[-1, 0, 1, float("inf")], labels=['0', '1', '2+']) 
df["num_child_under5_cat"] = np.where(df["num_under_5_child"] > 1, "Yes", "No")


# children between 5 to 17 (None, 1, 2+)
df["num_child_5_17_cat"] = pd.cut(df["num_5_17_child"], bins=[-1, 0, 1, float("inf")], labels=['0', '1', '2+']) 

# Number of women 15 - 49 (None, 1, 2+)
df["num_of_women_15_49_cat"] = pd.cut(df["num_of_women_15_49"], bins=[-1, 0, 1, float("inf")], labels=['0', '1', '2+']) 

# Number of men 15 - 49 (None, 1, 2+)
df["num_of_men_15_49_cat"] = pd.cut(df["num_of_men_15_49"], bins=[-1, 0, 1, float("inf")], labels=['0', '1', '2+']) 

# Number of adults
df["num_of_adults_cat"] = pd.cut(df["num_adult"], bins=[-1, 0, 1, float("inf")], labels=['0', '1', '2+']) 

# Number of children
df["num_of_children_cat"] = pd.cut(df["num_children"], bins=[-1, 0, 1, float("inf")], labels=['0', '1', '2+']) 


# Number of men that attended school, (None, 1, 2+)
df["num_of_men_attended_sch_cat"] = pd.cut(df["hh_mn_attended_sch_num"], bins=[-1, 0, 1, float("inf")], labels=['0', '1', '2+']) 

# Number of women that attended school, (None, 1, 2+)
df["num_of_women_attended_sch_cat"] = pd.cut(df["hh_wm_attended_sch_num"], bins=[-1, 0, 1, float("inf")], labels=['0', '1', '2+'])

In [19]:
# Select relevant variables to be used in regression
df2 = df[["hh1", "zone", "hhsex", "hh_age_cat", "hh_siz_cat", "helevel", "hh_own_dwelling",
          "urban_wi_quintile_mics", "hh_agricultural_land", "hh_own_animal","hh_ag_land_size_cat",
          "num_child_under5_cat", 'num_child_5_17_cat',
          "WORRIED", "HEALTHY", "FEWFOOD", "SKIPPED", "ATELESS", "RANOUT", "HUNGRY", "WHLDAY",
          "fies_score", 
          "FI_Food_Insecure", 
          "SFI", 
          "MFI", 
          "FS",
          # "fies_0_3_7",
          "prob_mod_sev", "prob_sev", 
          
          "num_of_women_15_49_cat",
          "num_of_men_15_49_cat", 
          "num_of_adults_cat",
          "num_of_children_cat",
          "num_of_men_attended_sch_cat", 
          "num_of_women_attended_sch_cat",
          "hhweightmics",
          "cluster_wi_category"
         ]]

df2.to_csv("../processed_data/df2.csv", index=False)


### Table 3: Socio-demographic and economic characteristics of the study sample of urban household, MICS6a

In [20]:
df.head(2)

,hh1,hh2,area,zone,hh_members_num,num_of_women_15_49,num_of_men_15_49,num_under_5_child,num_5_17_child,hhsex,hhage,helevel,hh_own_dwelling,hh_agricultural_land,hh_own_animal,hh_mn_attended_sch_num,hh_mn_mean_age_yrs,hh_mn_attended_atleast_sec_sch,hh_mn_mean_life_satisfaction,hh_wm_attended_sch_num,hh_wm_mean_age_yrs,hh_wm_attended_atleast_sec_sch,hh_wm_mean_life_satisfaction,water_source,wi_quintile_mics,wscoremics,urban_wi_quintile_mics,hh_ls_num,fies_score,hhweightmics,psu,stratum,prob_mod_sev,prob_sev,rs_fies_score,WORRIED,HEALTHY,FEWFOOD,SKIPPED,ATELESS,RANOUT,HUNGRY,WHLDAY,hh_ag_land_size_cat,agg_wealth_index,cluster_wi_category,hh_ls_num_clean_iqr,hh_ls_num_clean,hh_members_num_clean_iqr,hh_members_num_clean,num_adult,num_children,hh_siz_cat,hh_age_cat,PFI_moderate_severe,PFI_severe,PFI_mid_moderate,FS,MFI,FSI,FI_Food_Insecure,SFI,num_child_under5_cat,num_child_5_17_cat,num_of_women_15_49_cat,num_of_men_15_49_cat,num_of_adults_cat,num_of_children_cat,num_of_men_attended_sch_cat,num_of_women_attended_sch_cat
0,1.0,1.0,URBAN,South East,4.0,3.0,0.0,0.0,1.0,Female,46.0,Primary,RENT,NO,NO,0.0,0.0,0.0,0.0,3.0,28.666667,2.0,3.333333,TUBE WELL / BOREHOLE,Fourth,0.839976,Middle,0,7,0.61955,1.0,1.0,0.995,0.390,7,1,1,1,1,1,1,1,0,0 hectare,1.002562,High,0.0,0.0,4.0,1.43299,3.0,1.0,<5,>45,1,0,0,0,0,1,1,1,No,1,2+,0,2+,1,0,2+
1,1.0,2.0,URBAN,South East,2.0,2.0,0.0,0.0,1.0,Female,45.0,Senior secondary,RENT,NO,NO,0.0,0.0,0.0,0.0,2.0,30.500000,2.0,5.500000,TUBE WELL / BOREHOLE,Fourth,0.695187,Second,0,6,0.61955,1.0,1.0,0.971,0.043,6,1,1,1,1,1,1,0,0,0 hectare,1.002562,High,0.0,0.0,2.0,2.00000,2.0,1.0,<5,36-45,1,0,0,0,1,0,1,0,No,1,2+,0,2+,1,0,2+

In [21]:

def weighted_freq(df: pd.DataFrame, grp_by: str, wt: str="hhweightmics")->pd.DataFrame:
    """
    Calculate the frequency, weighted frequency, and weighted proportion for a specified categorical variable in a DataFrame.

    Parameters:
    ----------
    df : pd.DataFrame
        The input DataFrame containing the data.
    grp_by : str
        The name of the column to group by (i.e., the categorical variable).
    wt : str, optional
        The name of the column containing the weights for each observation. Default is 'hhweightmics'.

    Returns:
    -------
    pd.DataFrame
        A DataFrame containing the following columns:
        - 'Frequency': The unweighted count of each category.
        - 'Weighted Frequency': The sum of the weights for each category.
        - 'Proportion': The weighted proportion (as a percentage) of each category, rounded to two decimal places.
    
    Example:
    -------
    >>> df = pd.DataFrame({
            'category': ['A', 'A', 'B', 'B', 'C'],
            'hhweightmics': [1.2, 2.1, 1.5, 1.7, 2.3]
        })
    >>> result = weighted_freq(df, grp_by='category', wt='hhweightmics')
    >>> print(result)
      category  Frequency  Weighted Frequency  Proportion
    0        A          2                3.0       25.0
    1        B          2                3.0       25.0
    2        C          1                2.0       50.0
    """
    from scipy.stats import norm
    
    freq_count = df.groupby(grp_by, observed=True).size()
    weighted_freq = df.groupby(grp_by, observed=True).apply(lambda x: (x[wt].sum()), include_groups=False)
    weighted_proportion = weighted_freq * 100/ weighted_freq.sum()  # Convert to proportions

    # Calculate the variance for each group
    variance = df.groupby(grp_by, observed=True).apply(
        lambda x: (x[wt] ** 2).sum()) / (weighted_freq ** 2)

    # Standard error for each group
    standard_error = np.sqrt(variance)

    confidence_level: float = 0.5
    
    # Z-value for the given confidence level
    z_value = norm.ppf(1 - (1 - confidence_level) / 2)
    
    # Confidence intervals
    ci_lower = weighted_proportion - z_value * standard_error * 100
    ci_upper = weighted_proportion + z_value * standard_error * 100

    
    # Combine into a DataFrame
    result_df = pd.DataFrame({
        'Frequency': freq_count,
        'Weighted Frequency': weighted_freq,
        'Proportion': weighted_proportion,
        "wted_freq": weighted_freq.sum()
    }).reset_index()
    return result_df.round({"Proportion": 2,"Weighted Frequency":0 })

In [22]:
df2.head()

,hh1,zone,hhsex,hh_age_cat,hh_siz_cat,helevel,hh_own_dwelling,urban_wi_quintile_mics,hh_agricultural_land,hh_own_animal,hh_ag_land_size_cat,num_child_under5_cat,num_child_5_17_cat,WORRIED,HEALTHY,FEWFOOD,SKIPPED,ATELESS,RANOUT,HUNGRY,WHLDAY,fies_score,FI_Food_Insecure,SFI,MFI,FS,prob_mod_sev,prob_sev,num_of_women_15_49_cat,num_of_men_15_49_cat,num_of_adults_cat,num_of_children_cat,num_of_men_attended_sch_cat,num_of_women_attended_sch_cat,hhweightmics,cluster_wi_category
0,1.0,South East,Female,>45,<5,Primary,RENT,Middle,NO,NO,0 hectare,No,1,1,1,1,1,1,1,1,0,7,1,1,0,0,0.995,0.390,2+,0,2+,1,0,2+,0.61955,High
1,1.0,South East,Female,36-45,<5,Senior secondary,RENT,Second,NO,NO,0 hectare,No,1,1,1,1,1,1,1,0,0,6,1,0,1,0,0.971,0.043,2+,0,2+,1,0,2+,0.61955,High
2,1.0,South East,Male,36-45,<5,Senior secondary,OWN,Middle,NO,YES,0 hectare,Yes,1,1,0,0,1,1,1,1,0,5,1,0,1,0,0.875,0.002,1,0,1,2+,0,1,0.61955,High
3,1.0,South East,Male,>45,<5,No Education,OWN,Poorest,YES,YES,1-9 hectares,No,0,0,1,1,1,1,1,1,1,7,1,1,0,0,0.995,0.390,1,1,2+,0,1,1,0.61955,High
4,1.0,South East,Male,>45,<5,Primary,RENT,Middle,NO,NO,0 hectare,No,1,1,1,1,1,1,1,1,0,7,1,1,0,0,0.995,0.390,1,0,1,1,0,1,0.61955,High

* use the function to generate the descriptive statistics.

In [23]:
# compute the descriptive statistics of each predictor variables
weighted_freq(df2, "cluster_wi_category")

/var/folders/v2/zgr5gbws4qd_qpb553947v7h0000gn/T/ipykernel_73935/2263591343.py:42: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  variance = df.groupby(grp_by, observed=True).apply(

  cluster_wi_category  Frequency  Weighted Frequency  Proportion    wted_freq
0                High       7997             13043.0       83.95  15536.22679
1                 Low        271               228.0        1.47  15536.22679
2              Middle       2412              2265.0       14.58  15536.22679

In [24]:
83.95 + 1.47 + 14.58

100.0

In [25]:
df2.head()

,hh1,zone,hhsex,hh_age_cat,hh_siz_cat,helevel,hh_own_dwelling,urban_wi_quintile_mics,hh_agricultural_land,hh_own_animal,hh_ag_land_size_cat,num_child_under5_cat,num_child_5_17_cat,WORRIED,HEALTHY,FEWFOOD,SKIPPED,ATELESS,RANOUT,HUNGRY,WHLDAY,fies_score,FI_Food_Insecure,SFI,MFI,FS,prob_mod_sev,prob_sev,num_of_women_15_49_cat,num_of_men_15_49_cat,num_of_adults_cat,num_of_children_cat,num_of_men_attended_sch_cat,num_of_women_attended_sch_cat,hhweightmics,cluster_wi_category
0,1.0,South East,Female,>45,<5,Primary,RENT,Middle,NO,NO,0 hectare,No,1,1,1,1,1,1,1,1,0,7,1,1,0,0,0.995,0.390,2+,0,2+,1,0,2+,0.61955,High
1,1.0,South East,Female,36-45,<5,Senior secondary,RENT,Second,NO,NO,0 hectare,No,1,1,1,1,1,1,1,0,0,6,1,0,1,0,0.971,0.043,2+,0,2+,1,0,2+,0.61955,High
2,1.0,South East,Male,36-45,<5,Senior secondary,OWN,Middle,NO,YES,0 hectare,Yes,1,1,0,0,1,1,1,1,0,5,1,0,1,0,0.875,0.002,1,0,1,2+,0,1,0.61955,High
3,1.0,South East,Male,>45,<5,No Education,OWN,Poorest,YES,YES,1-9 hectares,No,0,0,1,1,1,1,1,1,1,7,1,1,0,0,0.995,0.390,1,1,2+,0,1,1,0.61955,High
4,1.0,South East,Male,>45,<5,Primary,RENT,Middle,NO,NO,0 hectare,No,1,1,1,1,1,1,1,1,0,7,1,1,0,0,0.995,0.390,1,0,1,1,0,1,0.61955,High

### Table 4: Characteristics of the urban household population by food security status, MICS6a

In [26]:
## Import the function for importing R packages in Python
from rpy2.robjects.packages import importr
from rpy2.robjects import pandas2ri
import rpy2.robjects as ro

# Load the rpy2.ipython extension to use R magic commands in Jupyter notebooks
%load_ext rpy2.ipython
pandas2ri.activate()

In [30]:
%%R
library(tidyverse)
library(dplyr)
if(!require('survey')) {
    install.packages('survey')
    install.packages("gtsummary")
    library('survey')
    library("gtsummary")
}

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

Loading required package: survey
Loading required package: grid
Loading required package: Matrix

Attaching package: ‘Matrix’

The following objects are masked from ‘package:tidyr’:

    expand, pack, unpack

Loading required package: survival

Attaching package: ‘survey’

The following object is masked from ‘package:graphics’:

    dotchart

In [38]:
%%R


data <- read_csv("../processed_data/df2.csv")

Rows: 10680 Columns: 36
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (19): zone, hhsex, hh_age_cat, hh_siz_cat, helevel, hh_own_dwelling, urb...
dbl (17): hh1, WORRIED, HEALTHY, FEWFOOD, SKIPPED, ATELESS, RANOUT, HUNGRY, ...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

### Table 5: Status of FI Experience Scale (FIES) questions

In [43]:
%%R

fies<- data %>% select('WORRIED':'WHLDAY')

# Function to calculate proportion of 1s and 0s
calc_proportions <- function(x) {
  prop_1 <- mean(x == 1)*100
  prop_0 <- mean(x == 0)*100
  c(prop_1 = prop_1, prop_0 = prop_0)
}

# Function to calculate confidence interval for each variable
calc_ci <- function(x) {
  ci <- binom.test(sum(x == 1), length(x))$conf.int
  return(ci*100)
}

# Function to calculate Chi-Square statistic for each variable
calc_chisq <- function(x) {
  chisq.test(table(x))$p.value
}

# Apply functions to dataset
proportions <- t(sapply(fies, calc_proportions))
confidence_intervals <- t(sapply(fies, calc_ci))
chi_squares <- sapply(fies, calc_chisq)


results_df <- data.frame(
  Variable = colnames(fies),
  Proportion_1 = proportions[, "prop_1"],
  Proportion_0 = proportions[, "prop_0"],
  CI_Lower = confidence_intervals[, 1],
  CI_Upper = confidence_intervals[, 2],
  Chi_Square = chi_squares
)
results_df

        Variable Proportion_1 Proportion_0 CI_Lower CI_Upper    Chi_Square
WORRIED  WORRIED     75.53371     24.46629 74.70683 76.34664  0.000000e+00
HEALTHY  HEALTHY     71.57303     28.42697 70.70709 72.42721  0.000000e+00
FEWFOOD  FEWFOOD     72.19101     27.80899 71.33060 73.03931  0.000000e+00
SKIPPED  SKIPPED     63.91386     36.08614 62.99466 64.82546 7.132869e-182
ATELESS  ATELESS     68.67041     31.32959 67.78105 69.54959  0.000000e+00
RANOUT    RANOUT     57.12547     42.87453 56.18036 58.06669  4.292966e-49
HUNGRY    HUNGRY     49.70974     50.29026 48.75699 50.66264  5.485478e-01
WHLDAY    WHLDAY     28.73596     71.26404 27.87892 29.60460  0.000000e+00

In [44]:

from tabulate import tabulate

# Create the DataFrame
data = {
    'Variable': ['WORRIED', 'HEALTHY', 'FEWFOOD', 'SKIPPED', 'ATELESS', 'RANOUT', 'HUNGRY', 'WHLDAY'],
    'Proportion_1': [75.53371, 71.57303, 72.19101, 63.91386, 68.67041, 57.12547, 49.70974, 28.73596],
    'CI_Lower': [74.70683, 70.70709, 71.33060, 62.99466, 67.78105, 56.18036, 48.75699, 27.87892],
    'CI_Upper': [76.34664, 72.42721, 73.03931, 64.82546, 69.54959, 58.06669, 50.66264, 29.60460],

}

df = pd.DataFrame(data)

df

  Variable  Proportion_1  CI_Lower  CI_Upper
0  WORRIED      75.53371  74.70683  76.34664
1  HEALTHY      71.57303  70.70709  72.42721
2  FEWFOOD      72.19101  71.33060  73.03931
3  SKIPPED      63.91386  62.99466  64.82546
4  ATELESS      68.67041  67.78105  69.54959
5   RANOUT      57.12547  56.18036  58.06669
6   HUNGRY      49.70974  48.75699  50.66264
7   WHLDAY      28.73596  27.87892  29.60460

<hr>
<div>
    <a href="./5_hh_mics6_modelling.ipynb">
        <button style="float: right;">&#8594; Modelling Notebook </button>
    </a>
    <a href="./3_hh_mics6_eda.ipynb">
        <button>&#8592; EDA Notebook</button>
    </a>
</div>
<hr>